<div class="col-6 col-sm-3 placeholder" class="block white">
  <div style="text-align:center">
    <a href="https://www.linkedin.com/in/robertclawrence/">
    <img src="/assets/profPic.png" width="200" height="200" class="img-fluid rounded-circle">
    </a>
    <br><br>
    <h2>Robert Lawrence</h2>
    <h6>Programmer, Avid Runner, Outdoor Advocate, Media Enthusiast</h6>
  </div>
</div>
<br>
<div id="more about" class = "block blue">
  <div class="container">
  <p>Born and raised in the Los Angeles area. Earned my BA in Computer Science from Saint John's University in Collegeville, Minnesota. Interned at Spotlight Casting located in London, United Kingdom. Participant in Minnesota MinneHack 2017 competition. Dependable and self-motivated worker who enjoys jumpstarting projects and seeing them through to completion.</p>
  <div style="text-align:center">
  <p>Find out more with: <a href="https://github.com/lawrence-rob"><i class="fa fa-github fa-large"></i></a>   <a href="https://twitter.com/LittleBigRobo"><i class="fa fa-twitter-square"></i></a>   <a href="https://www.linkedin.com/in/robertclawrence/"><i class="fa fa-linkedin-square"></i></a> </p>
  </div>
  </div>
</div>

  <section id="portfolio" class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <hr class="small">
            <div class="row">
              <div class="col-md-6">
                <div class="portfolio-item">
                    <img class="img-portfolio img-fluid" style="height: 280px; width: 100%; display: block;" src="/assets/group.png">
                  <br>
                </div>
              </div>
              <div class="col-md-6">
                <div class="portfolio-item">
                    <img class="img-portfolio img-fluid" style="height: 280px; width: 100%; display: block;" src="/assets/grad.png">
                  <br>
                </div>
              </div>
              <div class="col-md-6">
                <div class="portfolio-item">
                    <img class="img-portfolio img-fluid" style="height: 280px; width: 100%; display: block;" src="/assets/run.png">
                  <br>
                </div>
              </div>
              <div class="col-md-6">
                <div class="portfolio-item">
                    <img class="img-portfolio img-fluid" style="height: 280px; width: 100%; display: block;" src="/assets/hack.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>